@{
    ViewBag.Title = "Danh sách cán bộ CNV";
}
<div class="row" ng-app="myApp" ng-controller="myCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách cán bộ công nhân viên&nbsp;&nbsp;&nbsp;<a href="#" ng-click="addNew()"><i my-tool-tip="Thêm mới" class="fa fa-plus"></i></a></h2>
                <div class="clearfix"></div>
            </div>
            <!-- end x_title-->
            <div class="x_content">
                <div class="row">
                    <div class="form-group">
                        <label>Năm học</label>
                        <select class="form-control" ng-model="Info.DMNamHoc" ng-change="GetData()">
                            <option ng-repeat="x in AllNamHoc" value="{{x.NamHoc}}">{{x.NamHoc | uppercase}}</option>
                        </select>
                    </div>
                </div>
                    
                <!-- table data-->
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>STT</th>
                                <th>Năm học</th>
                                <th>Chức vụ</th>
                                <th>Tổng số</th>
                                <th>Tổng nữ</th>
                                <th>Đạt chuẩn</th>
                                <th>Trên chuẩn</th>
                                <th>Chưa đạt chuẩn</th>
                                <th>Chuẩn huyện</th>
                                <th>Chuẩn tỉnh</th>
                                <th>#</th>
                                <th>#</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in allDanhMuc">
                                <td>{{item.STT}}</td>                              
                                <td>{{item.NamHoc}}</td>
                                <td>{{item.Loai}}</td>
                                <td>{{item.TongSo}}</td>
                                <td>{{item.Nu}}</td>
                                <td>{{item.DatChuan}}</td>
                                <td>{{item.TrenChuan}}</td>
                                <td>{{item.ChuaDatChuan}}</td>
                                <td>{{item.ChuanHuyen}}</td>
                                <td>{{item.ChuanTinh}}</td>
                                <td><a href="#" ng-click="edit($index)">Chi tiết</a></td>
                                <td><a href="#" ng-click="sendDelete($index)">Xóa</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end table data-->
                <!--phan trang-->
                <ul items-per-page="itemPerPage" uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                <!-- end phan trang-->

            </div>
            <!-- end x_content-->
        </div>
        <!-- end x_pannel-->
    </div>


    <!-- tao model them moi-->
    <div id="insertmodal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modaltitle}}</h4>
                </div>


                <!-- begin form-->
                <form class="css-form" name="createForm" ng-submit="finishForm(createForm.$valid)">
                    <!-- body-->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Năm học</label>
                                    <select class="form-control" ng-model="Info.NamHoc" ng-disabled="DisNamHoc" required>
                                        <option ng-repeat="x in AllNamHoc" value="{{x.NamHoc}}">{{x.NamHoc | uppercase}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Chức vụ</label> 
                                    <select class="form-control" ng-model="Info.Loai" ng-disabled="DisLoai" required>
                                        <option ng-repeat="x in Loai" value="{{x.Loai}}">{{x.Loai | uppercase}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>STT</label>
                                    <input type="text" maxlength="10" class="form-control" ng-model="Info.STT" required />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Tổng số</label>
                                    <input type="text" class="form-control" ng-model="Info.TongSo"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Số nữ</label>
                                    <input type="text" class="form-control" ng-model="Info.Nu"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Dân tộc</label>
                                    <input type="text" class="form-control" ng-model="Info.DanToc" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Đạt chuẩn</label>
                                    <input type="text" class="form-control" ng-model="Info.DatChuan" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Trên chuẩn</label>
                                    <input type="text" class="form-control" ng-model="Info.TrenChuan" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Chưa đạt chuẩn</label>
                                    <input type="text" class="form-control" ng-model="Info.ChuaDatChuan" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Chuẩn huyện</label>
                                    <input type="text" class="form-control" ng-model="Info.ChuanHuyen" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Chuẩn tỉnh</label>
                                    <input type="text" class="form-control" ng-model="Info.ChuanTinh" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Ghi chú</label>
                                    <input type="text" class="form-control" ng-model="Info.GhiChu" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end body-->
                    <!-- begin footer-->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Hoàn thành</button>
                    </div>
                    <!-- end footer-->
                </form>
                <!-- end form-->

            </div>
            <!-- end modal content-->
        </div>
    </div>
    <!-- end modal them-->
</div>


<!-- end content-->
@section scripts {

    <script>

        // tao controller
        var app = angular.module('myApp', ['ui.bootstrap']);
        app.controller('myCtrl', function ($scope, $http) {
            $scope.AllNamHoc = angular.fromJson('@Html.Raw(Json.Encode(ViewBag.NamHoc))');
            $scope.Loai = [
                { Loai: 'HT' },
                { Loai: 'PTH' },
                { Loai: 'GV' },
                { Loai: 'CNV' }              
            ];
            // phan trang
            $scope.numPages;
            $scope.itemPerPage;
            $scope.totalItems;
            $scope.currentPage = 1;
            $scope.maxSize = 5;
            $scope.pageChanged = function () {
                $scope.GetData($scope.currentPage);
            };
            // lay du lieu
            $scope.allDanhMuc = [];
            $scope.GetData = function () {
                showLoader(true);
                $http({
                    method: "GET",
                    url: "/SoCanBo/getCanBo?namhoc=" + $scope.Info.DMNamHoc
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.allDanhMuc = response.data.data;
                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
            }
            // goi lay du liẹu

           // $scope.GetData(1, "");
            //
            // khoi tao bien dung cho create va edit
            $scope.Info = {};
            $scope.IsAction = '';

            $scope.addNew = function () {

                $scope.Info = { "NamHoc": $scope.NamHoc, "Loai": "", "TongSo": 0, "Nu": 0, "DanToc":0,"DatChuan":0,"TrenChuan":0,"ChuaDatChuan":0,"GhiChu":"","STT":"","ChuanHuyen":0,"ChuanTinh":0 };
                $scope.modaltitle = "Thêm thông tin cán bộ";
                $scope.DisNamHoc = false;
                $scope.DisLoai = false;
                $scope.IsAction = 'add';

                showModel("insertmodal");

            };



            $scope.edit = function (index) {
                var info = $scope.allDanhMuc[index];
                $scope.Info = angular.copy(info);
                $scope.DisNamHoc = true;
                $scope.DisLoai = true;
                $scope.modaltitle = "Chỉnh sửa thông tin cán bộ";
                $scope.IsAction = 'edit';
                showModel("insertmodal");
            };

            // tim index theo ma tinh
            function getSelectedIndex(id) {
                for (var i = 0; i < $scope.allDanhMuc.length; i++)
                    if ($scope.allDanhMuc[i].NamHoc === id)
                        return i;
                return -1;
            };

            // action

            $scope.finishForm = function (isValid) {
                if ($scope.IsAction === 'add') {
                    $scope.sendCreate();
                } else if ($scope.IsAction === 'edit') {
                    $scope.sendEdit();
                } else if ($scope.IsAction === 'delete') {
                    $scope.Info = angular.copy(info);
                    $scope.sendDelete();
                }


            };


            // them tinh
            $scope.sendCreate = function () {
                showLoader(true);

                $http({
                    method: "POST",
                    url: "/SoCanBo/create",
                    data: {canbo : $scope.Info }
                }).then(function success(response) {

                    var result = response.data;
                    console.log(result);
                    if (result.error === 0) {
                        $scope.GetData(1, "");
                        $scope.allDanhMuc.unshift(result.data);

                        hideModel("insertmodal");

                        showNotify("Đã thêm thông tin cán bộ");

                    } else {

                        alert(result.msg);

                    }

                    showLoader(false);

                }
                    , function error(response) {
                        showNotify("connect has disconnect");
                        showLoader(false);
                    });

            };

            // cap nhat tinh
            $scope.sendEdit = function () {
                showLoader(true);
                //console.log($scope.Info.NamHienTai);
                $http({
                    method: "POST",
                    url: "/SoCanBo/edit",
                    data: { canbo: $scope.Info }
                }).then(
                    function success(response) {
                        $scope.GetData(1, "");
                        var result = response.data;

                        if (result.error === 0) {

                            var findIndex = getSelectedIndex(result.data.NamHoc);

                            if (findIndex !== -1) {
                                $scope.allDanhMuc[findIndex] = angular.copy(result.data);
                            }

                            showNotify("Đã cập nhật");
                            hideModel("insertmodal");

                        } else {

                            alert(result.msg);

                        }

                        showLoader(false);

                    },
                    function errror(response) {
                        showLoader(false);
                        showNotify("connect has disconnect");
                    }
                    );
            };

            // xoa du lieu
            $scope.sendDelete = function (index) {
                var info = $scope.allDanhMuc[index];
                var r = confirm("Bạn muốn xóa không ?");
                if (r) {
                    showLoader(true);
                    $http({
                        method: "POST",
                        url: "/SoCanBo/delete",
                        data: { canbo: info }
                    }).then(
                        function success(response) {

                            var result = response.data;

                            if (result.error == 0) {

                                // var findIndex = getSelectedIndex(result.data.CountryID);

                                // if (findIndex !== -1) {
                                $scope.allDanhMuc.splice(index, 1);
                                //  }

                            } else {

                                alert(result.msg);

                            }

                            showLoader(false);

                        },
                        function errror(response) {
                            showLoader(false);
                            showNotify("connect has disconnect");
                        }
                        );
                } else {

                }


            }

        });
        //-- end controller

    </script>
}



