@{
    ViewBag.Title = "Đánh giá tiêu chí";
}

<div class="row" ng-app="myApp" ng-controller="myCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Gợi ý và phân công thu thập minh chứng</h2>
                <div class="clearfix"></div>
            </div>
            <!-- end x_title-->
            <div class="x_content">
                <!-- table data-->
                <p class="p-3 mb-2 bg-secondary text-white"><span class="text-primary">Màu xanh</span> là đã đánh giá,<span class="text-danger">màu đỏ</span>  là chưa đánh giá</p>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>Tiêu chuẩn</th>
                                <th>Nội dung</th>
                                <th>Tiêu chí</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="(mindex,item) in allDanhMuc">
                                <td>{{item.IDTieuChuan}}</td>
                                <td>{{item.NoiDung}}</td>
                                <td>
                                    <table ng-init="GetTieuChi(mindex)" border="0">
                                        <tr>
                                            <td ng-repeat="item1 in item.allDetail">&nbsp;&nbsp;&nbsp;[<a ng-class="{'text-primary' : item1.TCDK != '0', 'text-danger' : item1.TCDK == '0'}" href="#" ng-click="addNew(mindex,$index)">   {{item1.IDTieuChi}}  </a>]</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- end table data-->
            </div>
            <!-- end x_content-->
        </div>
        <!-- end x_pannel-->
        <!--chi tiet cac tieu chi da duoc du kien-->
        <div class="x_panel">
            <div class="x_title">
                <h2>Các tiêu chí đã đánh giá</h2>
                <div class="clearfix"></div>
            </div>
            <!-- end x_title-->
            <div class="x_content">
                <!-- table data-->
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>Tiêu chuẩn</th>
                                <th>Tiêu chí</th>
                                <th>Nhận xét PGD&DT</th>
                                <th>Nhóm tự đánh giá</th>
                                <th>Tự đánh giá</th>
                                <th>Lấy phiếu</th>
                                <th>#</th>
                                <th>#</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in allTieuChiDuKien">
                                <td>{{item.ID}}</td>
                                <td>{{item.NoiDung}}</td>
                                <td><span ng-class="{'fa fa-check' : item.PGDDuyet == true, 'fa fa-close' : item.PGDDuyet == false}"></span></td>
                                <td>{{item.TenNhom}}</td>
                                <td><span ng-class="{'fa fa-check' : item.TuDanhGia == true, 'fa fa-close' : item.TuDanhGia == false}"></span></td>
                                <td>Lấy phiếu</td>
                                <td><a href="#" ng-click="edit($index)">Chi tiết</a></td>
                                <td><a href="#" ng-click="sendDelete($index)">Xóa</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- end table data-->
                <!--phan trang-->
                <ul items-per-page="itemPerPage" uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                <!-- end phan trang-->
            </div>
            <!-- end x_content-->
        </div>
        <!---->
    </div>

    <!-- tao model them moi-->
    <div id="insertmodal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{modaltitle}}</h4>
                </div>
                <!--panel dialog-->
                <form class="css-form" name="createForm" ng-submit="finishForm(createForm.$valid)">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab_tieuchuantieuchi" role="tab" data-toggle="tab" aria-expanded="false" ng-click="showEdit=false">Tiêu chuẩn - Tiêu chí</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab_chisoa" role="tab" data-toggle="tab" aria-expanded="false" ng-click="showEdit=true">Chỉ số a</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab_chisob" role="tab" data-toggle="tab" aria-expanded="false" ng-click="showEdit=true">Chỉ số b</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab_chisoc" role="tab" data-toggle="tab" aria-expanded="false" ng-click="showEdit=true">Chỉ số c</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab_danhgia" role="tab" data-toggle="tab" aria-expanded="false" ng-click="showEdit=true">Đánh giá</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab_kehoachcaitien" role="tab" data-toggle="tab" aria-expanded="false" ng-click="showEdit=true">Kế Hoạch Cải Tiến</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab_nhom" role="tab" data-toggle="tab" aria-expanded="false" ng-click="showEdit=true">Nhóm</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active in" id="tab_tieuchuantieuchi" aria-labelledby="home-tab">
                                        <!-- begin tab-->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" maxlength="10" class="form-control" ng-model="TieuChuanTieuChi" ng-disabled="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end tab-->
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_chisoa" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Nội dung</label>
                                                    <textarea rows="2" class="form-control" ng-model="ChiSoA.NoiDung" ng-disabled="true"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label>Mô tả hiện trạng</label>
                                                    -- <a href="#" ng-click="sub('chisoa')">Sub</a>
                                                    <textarea id="chisoamota" name="chisoamota" rows="7" class="form-control" ng-model="ChiSoA.MoTaHienTrang"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>MC từ</label>
                                                            <select class="form-control" ng-model="ChiSoA.IDTieuChuanFrom">
                                                                <option ng-repeat="x in allTieuChuan" value="{{x.IDTieuChuan}}">{{x.IDTieuChuan}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>MC đến</label>
                                                            <select class="form-control" ng-model="ChiSoA.IDTieuChuanTo" ng-change="getMC()">
                                                                <option ng-repeat="x in allTieuChuan" value="{{x.IDTieuChuan}}">{{x.IDTieuChuan}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <table class="table table-striped jambo_table bulk_action">
                                                        <thead>
                                                            <tr class="headings">
                                                                <th>Mã MC</th>
                                                                <th>Tên MC</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr ng-repeat="item in allMinhChung">
                                                                <td><a href="#" ng-click="insertText($index)">{{item.MaMC}}</a></td>
                                                                <td>{{item.TenMC}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Ý kiến PGD&DT</label>
                                                    <textarea rows="3" class="form-control" ng-model="ChiSoA.NhanXetPGD" ng-disabled="true"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_chisob" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Nội dung</label>
                                                    <textarea rows="2" class="form-control" ng-model="ChiSoB.NoiDung" ng-disabled="true"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label>Mô tả hiện trạng</label>
                                                    <textarea rows="5" class="form-control" ng-model="ChiSoB.MoTaHienTrang"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <select class="form-control" ng-model="Info.IDTieuChuan">
                                                        <option ng-repeat="x in allTieuChuan" value="{{x.IDTieuChuan}}">{{x.IDTieuChuan}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <select class="form-control" ng-model="DanhGia.MaNhom" required>
                                                        <option ng-repeat="x in allNhom" value="{{x.MaNhom}}">{{x.TenNhom | uppercase}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Ý kiến PGD&DT</label>
                                                    <textarea rows="5" class="form-control" ng-model="ChiSoB.NhanXetPGD" ng-disabled="true"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_chisoc" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Nội dung</label>
                                                    <textarea rows="2" class="form-control" ng-model="ChiSoC.NoiDung" ng-disabled="true"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Mô tả hiện trạng</label>
                                                    <textarea rows="5" class="form-control" ng-model="ChiSoC.MoTaHienTrang"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Ý kiến PGD&DT</label>
                                                    <textarea rows="5" class="form-control" ng-model="ChiSoC.NhanXetPGD" ng-disabled="true"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_danhgia" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Điểm mạnh</label>
                                                    <textarea rows="4" class="form-control" ng-model="DanhGia.DiemManh"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Điểm yếu</label>
                                                    <textarea rows="4" class="form-control" ng-model="DanhGia.DiemYeu"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Tự đánh giá</label>
                                                    <input type="checkbox" class="form-control" ng-model="DanhGia.TuDanhGia" ng-checked="DanhGia.TuDanhGia" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Ý kiến PGD&DT</label>
                                                    <textarea rows="4" class="form-control" ng-disabled="true"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_kehoachcaitien" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <textarea rows="4" class="form-control" ng-model="DanhGia.KeHoachCaiTien"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Ý kiến PGD&DT</label>
                                                    <textarea rows="4" class="form-control" ng-disabled="true"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_nhom" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Nhóm làm việc</label>
                                                    <select class="form-control" ng-model="DanhGia.MaNhom" required>
                                                        <option ng-repeat="x in allNhom" value="{{x.MaNhom}}">{{x.TenNhom | uppercase}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Hoàn thành</button>
                    </div>
                </form>
            </div>
            <!-- end modal content-->
        </div>
    </div>
    <!-- end modal them-->
</div>


<!-- end content-->
@section scripts {

    <script>

        // tao controller
        var app = angular.module('myApp', ['ui.bootstrap']);

        app.controller('myCtrl', function ($scope, $http) {

            $scope.allNhom = angular.fromJson('@Html.Raw(Json.Encode(ViewBag.AllNhom))');
            $scope.allTieuChuan = angular.fromJson('@Html.Raw(Json.Encode(ViewBag.AllTieuChuan))');

            // lay du lieu
            $scope.DanhGia = [];
            $scope.ChiSoA = [];
            $scope.ChiSoB = [];
            $scope.ChiSoC = [];
            $scope.Info = [];
            $scope.TieuChuanTieuChi = [];
            $scope.allDanhMuc = [];
            $scope.GetData = function () {
                showLoader(true);
                $http({
                    method: "GET",
                    url: "/DanhGiaTieuChi/getTieuChuan"
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.allDanhMuc = response.data.data;
                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
            }
            $scope.GetData();

            //lay danh sach cac tieu chi da dc du kien
            $scope.numPages;
            $scope.itemPerPage;
            $scope.totalItems;
            $scope.currentPage = 1;
            $scope.maxSize = 5;
            $scope.pageChanged = function () {
                $scope.GetData($scope.currentPage);
            };

            // lay du lieu
            $scope.allTieuChiDuKien = [];
            $scope.GetTieuChiDuKienAll = function (page, search) {
                showLoader(true);
                $http({
                    method: "GET",
                    url: "/DanhGiaTieuChi/getDanhGiaTieuChiAll?page=" + page
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.allTieuChiDuKien = response.data.data;
                        $scope.itemPerPage = response.data.pageSize;
                        $scope.totalItems = response.data.toltalSize;
                        $scope.numPages = Math.round($scope.totalItems / $scope.itemPerPage);

                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
            }
            $scope.GetTieuChiDuKienAll(1);
            //lay ra thong tin cac chi so

            $scope.GetChiSo = function (page, search) {
                showLoader(true);
                $http({
                    method: "GET",
                    url: "/DanhGiaTieuChi/getChiSo?page=" + page + "&idtieuchi=" + search
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.allChiSo = response.data.data;

                        $scope.ChiSoA = angular.copy($scope.allChiSo[0]);
                        $scope.ChiSoB = angular.copy($scope.allChiSo[1]);
                        $scope.ChiSoC = angular.copy($scope.allChiSo[2]);
                        console.log($scope.ChiSoA);
                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
            }
            //ket thuc lay ra thong tin cac chi so
            $scope.xemchiso = function (index) {

                var infotc = $scope.allTieuChi[index];
                $scope.InfoTC = angular.copy(infotc);

                var info = $scope.allTieuChi[index];
                $scope.Info = angular.copy(info);

                //lay thong tin chi tiet cac chi so
                $scope.GetChiSo(1, $scope.InfoTC.GuiIDTC);

                $scope.modaltitle = "Xem tiêu chí - Tiêu chuẩn: " + $scope.idtchuan + " - Tiêu chí: " + $scope.InfoTC.IDTieuChi;
                $scope.IsAction = 'edit';
                showModel("insertmodal");

            };
            //ham lay chi tiet tieu chi
            $scope.GetTieuChi = function (index) {
                $scope.alldetail = [];
                var info = $scope.allDanhMuc[index];
                $scope.Info = angular.copy(info);

                showLoader(true);
                $http({
                    method: "GET",
                    url: "/DanhGiaTieuChi/getTieuChi?idtieuchuan=" + $scope.Info.GuiID
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.allDanhMuc[index].allDetail = response.data.data;
                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
            }
            //ket thuc ham lay goi tieu chi
            //ham lay chi tiet tieu chi
            $scope.getMC = function () {
                showLoader(true);
                $http({
                    method: "GET",
                    url: "/DanhGiaTieuChi/getMCbyID?idfrom=" + $scope.ChiSoA.IDTieuChuanFrom + "&idto=" + $scope.ChiSoA.IDTieuChuanTo
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.allMinhChung = response.data.data;
                        console.log($scope.allMinhChung);
                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
            }
            //ket thuc ham lay goi tieu chi
            // action
            $scope.finishForm = function () {
                    if ($scope.IsAction === 'add') {
                        $scope.sendCreate();
                    } else if ($scope.IsAction === 'edit') {
                        $scope.sendCreate();
                    } else if ($scope.IsAction === 'delete') {
                        $scope.sendDelete();
                    }

            }
            $scope.IsAction = '';
            $scope.addNew = function (mindex, id) {
                //kiểm tra xem neu chua co thi load mơi , nếu đã có thì load thông tin
                //gettieuchidukien
                //mindex ==> vi tri cua id tieu chuan , id vi tri cua tieu chi

                var info = $scope.allDanhMuc[mindex].allDetail[id];
                $scope.Info = angular.copy(info);
                $scope.GetChiSo(1, $scope.Info.GuiIDTC);
                $scope.TieuChuanTieuChi = $scope.allDanhMuc[mindex].NoiDung + " - " + $scope.Info.NoiDungTC;

                $http({
                    method: "GET",
                    url: "/DanhGiaTieuChi/getDanhGiaTieuChi?idtieuchi=" + $scope.Info.GuiIDTC
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.DanhGia = { "DiemManh": "", "DiemYeu": "", "KeHoachCaiTien": "", "IDTieuChi": $scope.Info.GuiIDTC ,"MaNhom": "","TuDanhGia":false};
                        $scope.modaltitle = "Chỉnh sửa thông tin" + "  --- Tiêu chuẩn " + (mindex + 1) + "  --- Tiêu chí " + (id + 1);
                        //$scope.ZoneIDDisable = false;
                        $scope.IsAction = 'add';

                        showModel("insertmodal");

                    } else if (response.data.error !== 0) {
                        $scope.DanhGia = response.data.data;
                        console.log($scope.DanhGia);
                        //truong hop da ton tai thong in
                        $http({
                            method: "GET",
                            url: "/DanhGiaTieuChi/getChiSoMoTa?guiid=" + $scope.Info.GuiIDTC
                        }).then(function mySuccess(response) {
                            showLoader(false);


                            if (response.data.error === 1) {

                                $scope.allChiSo = response.data.data;
                                console.log($scope.allChiSo);
                                $scope.ChiSoA = angular.copy($scope.allChiSo[0]);
                                $scope.ChiSoB = angular.copy($scope.allChiSo[1]);
                                $scope.ChiSoC = angular.copy($scope.allChiSo[2]);

                            }

                        }, function myError(response) {
                            showLoader(false);
                            showNotify('Connect error');
                        });
                        //lay thong in

                       // $scope.Info = { "HoatDong": $scope.Info.HoatDong, "NhanLuc": $scope.Info.NhanLuc, "VatLuc": $scope.Info.VatLuc, "ThoiDiem": $scope.Info.ThoiDiem, "GhiChu": $scope.Info.GhiChu, "IDTieuChi": $scope.Info.IDTieuChi };
                        $scope.modaltitle = "Chỉnh sửa thông tin" + "  --- Tiêu chuẩn " + (mindex + 1) + "  --- Tiêu chí " + (id + 1);
                        //$scope.ZoneIDDisable = false;
                        $scope.IsAction = 'add';

                        showModel("insertmodal");
                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
                //ket thuc lay dữ liệu điều kiện
            };
            //khi nguoi dung click vao edit
            $scope.edit = function (index) {
                //$scope.TieuChuanTieuChi = $scope.GetTieuChiDuKienAll[index]
                var info = $scope.allTieuChiDuKien[index];
                if ($scope.Info.GuiIDTC === null)
                    {
                    $scope.Info.GuiIDTC = info.GuiIDTC;
                    }
                $scope.TieuChuanTieuChi = info.ND + ' - ' + info.NoiDung;
                $http({
                    method: "GET",
                    url: "/DanhGiaTieuChi/getDanhGiaTieuChi?idtieuchi=" + info.GuiIDTC
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.DanhGia = { "DiemManh": "", "DiemYeu": "", "KeHoachCaiTien": "", "IDTieuChi": info.GuiIDTC ,"MaNhom" : ""};
                        $scope.modaltitle = "Chỉnh sửa thông tin" + "  --- Tiêu chuẩn " + (info.ID) + "  --- Tiêu chí " + info.IDTieuChi;
                        //$scope.ZoneIDDisable = false;
                        $scope.IsAction = 'add';

                        showModel("insertmodal");

                    } else if (response.data.error !== 0) {
                        $scope.DanhGia = response.data.data;
                        //truong hop da ton tai thong in
                        $http({
                            method: "GET",
                            url: "/DanhGiaTieuChi/getChiSoMoTa?guiid=" + info.GuiIDTC
                        }).then(function mySuccess(response) {
                            showLoader(false);


                            if (response.data.error === 1) {

                                $scope.allChiSo = response.data.data;

                                $scope.ChiSoA = angular.copy($scope.allChiSo[0]);
                                $scope.ChiSoB = angular.copy($scope.allChiSo[1]);
                                $scope.ChiSoC = angular.copy($scope.allChiSo[2]);
                                console.log($scope.ChiSoA);
                            }

                        }, function myError(response) {
                            showLoader(false);
                            showNotify('Connect error');
                        });
                        //lay thong in

                        // $scope.Info = { "HoatDong": $scope.Info.HoatDong, "NhanLuc": $scope.Info.NhanLuc, "VatLuc": $scope.Info.VatLuc, "ThoiDiem": $scope.Info.ThoiDiem, "GhiChu": $scope.Info.GhiChu, "IDTieuChi": $scope.Info.IDTieuChi };
                        $scope.modaltitle = "Chỉnh sửa thông tin" + "  --- Tiêu chuẩn " + (info.ID) + "  --- Tiêu chí " + info.IDTieuChi;
                        //$scope.ZoneIDDisable = false;
                        $scope.IsAction = 'add';

                        showModel("insertmodal");
                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
                //ket thuc lay dữ liệu điều kiện
                $scope.IsAction = 'edit';
                showModel("insertmodal");
            };
            //ket thuc
            //add text after focus in textarea
            $scope.lastFocused;
            angular.element("textarea").focus(function () {
                $scope.lastFocused = document.activeElement;
            });
            $scope.insertText = function (index) {
                var info = $scope.allMinhChung[index];
               // console.log(info);
                var text = '[' +info.MaMC + ']';
                var input = $scope.lastFocused;
                //console.log(input);
                if (input == undefined) { return; }
                var scrollPos = input.scrollTop;
                var pos = 0;
                var browser = ((input.selectionStart || input.selectionStart == "0") ?
                               "ff" : (document.selection ? "ie" : false));
                if (browser == "ie") {
                    input.focus();
                    var range = document.selection.createRange();
                    range.moveStart("character", -input.value.length);
                    pos = range.text.length;
                }
                else if (browser == "ff") { pos = input.selectionStart };

                var front = (input.value).substring(0, pos);
                var back = (input.value).substring(pos, input.value.length);
                input.value = front + text + back;
                pos = pos + text.length;
                if (browser == "ie") {
                    input.focus();
                    var range = document.selection.createRange();
                    range.moveStart("character", -input.value.length);
                    range.moveStart("character", pos);
                    range.moveEnd("character", 0);
                    range.select();
                }
                else if (browser == "ff") {
                    input.selectionStart = pos;
                    input.selectionEnd = pos;
                    input.focus();
                }
                input.scrollTop = scrollPos;
               // console.log(angular.element(input).val());
                angular.element(input).trigger('textarea');
            }
            //end add text after focus in textarea
            //convert sub select text
            $scope.sub = function (ctl) {
                //lay ra selected text

                //$scope.txtArea = angular.element(document.querySelector(ctl));
                $scope.txtArea = document.querySelector('#chisoamota');
                var selectedText;
                if (txtArea.selectionStart != undefined)
                {
                    var startPosition = txtArea.selectionStart;
                    var endPosition = txtArea.selectionEnd;
                    selectedText = txtArea.value.substring(startPosition, endPosition);
                    console.log(selectedText);
                }

                //txtArea.appendChild(selectedText);
            };
            //end convert sub text
            // them tinh
            $scope.sendCreate = function () {
                showLoader(true);
                console.log($scope.DanhGia.TuDanhGia);
                $scope.test = {}
                $scope.MoTa = [
                  { IDChiSo:$scope.ChiSoA.GuiID,MoTaHienTrang: $scope.ChiSoA.MoTaHienTrang },
                  { IDChiSo: $scope.ChiSoB.GuiID, MoTaHienTrang: $scope.ChiSoB.MoTaHienTrang },
                  { IDChiSo: $scope.ChiSoC.GuiID, MoTaHienTrang: $scope.ChiSoC.MoTaHienTrang }
                ];

                $http({
                    method: "POST",
                    url: "/DanhGiaTieuChi/create",
                    data: { idtieuchi: $scope.Info.GuiIDTC, dm: $scope.DanhGia.DiemManh, dy: $scope.DanhGia.DiemYeu, dat: $scope.DanhGia.TuDanhGia, mn: $scope.DanhGia.MaNhom, kh: $scope.DanhGia.KeHoachCaiTien, mt: $scope.MoTa }
                }).then(function success(response) {

                    var result = response.data;

                    if (result.error === 0) {
                        $scope.GetData(1, "");
                        $scope.allDanhMuc.unshift(result.data);
                        $scope.GetData();
                        $scope.GetTieuChiDuKienAll(1);
                        hideModel("insertmodal");

                        showNotify("Đã cập nhật thông tin");

                    } else {

                        alert(result.msg);

                    }

                    showLoader(false);

                }
                    , function error(response) {
                        showNotify("connect has disconnect");
                        showLoader(false);
                    });

            };


            // xoa du lieu
            $scope.sendDelete = function (index) {
                var info = $scope.allTieuChiDuKien[index];

                var r = confirm("Bạn muốn xóa không ?");
                if (r == true) {
                    showLoader(true);

                    $http({
                        method: "POST",
                        url: "/ThoiGianCungCap/delete",
                        data: { id: info.GuiIDTC }
                    }).then(
                        function success(response) {

                            var result = response.data;

                            if (result.error == 0) {

                                // var findIndex = getSelectedIndex(result.data.CountryID);

                                // if (findIndex !== -1) {
                                $scope.allDanhMuc.splice(index, 1);
                                $scope.GetData();
                                $scope.GetTieuChiDuKienAll(1);
                                //  }

                            } else {

                                alert(result.msg);

                            }

                            showLoader(false);

                        },
                        function errror(response) {
                            showLoader(false);
                            showNotify("connect has disconnect");
                        }
                        );
                } else {

                }


            }

        });
        //-- end controller

    </script>
}



