@{
    ViewBag.Title = "Danh sách văn bản";
}

<div ng-app="myApp" class="row" ng-controller="myCtrl">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_danhmuc" role="tab" data-toggle="tab" aria-expanded="false" ng-click="showEdit=false">Danh mục</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab_chitiet" role="tab" data-toggle="tab" aria-expanded="false" ng-click="showEdit=true">Chi tiết</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active in" id="tab_danhmuc" aria-labelledby="home-tab">
                            <!-- begin tab-->
                            <div class="row">
                                <!-- thong tin-->
                                <form class="css-form" name="createForm" ng-submit="edit()">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-striped jambo_table bulk_action">
                                                <thead>
                                                    <tr class="headings">
                                                        <th>STT</th>
                                                        <th>Ký hiệu</th>
                                                        <th>Trích yếu</th>
                                                        <th>Ngày ban hành</th>
                                                        <th>Cơ quan ban hành</th>
                                                        <th>Cấp học</th>
                                                        <th>#</th>
                                                        <th>#</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in allDanhMuc">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{item.MaSo}}</td>
                                                        <td>{{item.TrichYeu}}</td>
                                                        <td>{{item.NgayBanHanh}}</td>
                                                        <td>{{item.CoBanBanHanh}}</td>
                                                        <td>{{item.CapHoc}}</td>
                                                        <td><a href="#" ng-click="edit($index)">Chi tiết</a></td>
                                                        <td><a href="#" ng-click="sendDelete($index)">Xóa</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-default">Lưu</button>
                                    </div>
                                </form>
                            </div>
                            <!-- end tab-->
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_chitiet" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                            <tr class="headings">
                                                <th>STT</th>
                                                <th>Họ Tên</th>
                                                <th>Chức vụ</th>
                                                <th>Nhiệm vụ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in allthanhvien">
                                                <td>{{$index + 1}}</td>
                                                <td>{{item.TenThanhVien}}</td>
                                                <td>{{item.ChucVu}}</td>
                                                <td>{{item.NhiemVu}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- end content-->
@section scripts {

    <script>

        // tao controller
        var app = angular.module('myApp', ['ui.bootstrap', 'ui.uploader']);

        app.controller('myCtrl', function ($scope, $http, uiUploader) {

            // phan trang
            $scope.numPages;
            $scope.itemPerPage;
            $scope.totalItems;
            $scope.currentPage = 1;
            $scope.maxSize = 5;
            $scope.pageChanged = function () {
                $scope.GetData($scope.currentPage);
            };

            // lay du lieu
            $scope.allDanhMuc = [];
            $scope.GetData = function (page, search) {
                showLoader(true);
                $http({
                    method: "GET",
                    url: "/VanBan/getVanBan?page=" + page + "&search=" + search
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.allDanhMuc = response.data.data;
                        $scope.itemPerPage = response.data.pageSize;
                        $scope.totalItems = response.data.toltalSize;
                        $scope.numPages = Math.round($scope.totalItems / $scope.itemPerPage);
                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
            }
            // goi lay du liẹu

            $scope.GetData(1, "");
            //
            // khoi tao bien dung cho create va edit
            $scope.Info = {};
            $scope.IsAction = '';

            $scope.addNew = function () {

                $scope.Info = { "SoHieu": "", "TenQuyDinh": "","NgayBanHanh":"","CoQuan":"","LinkFile":"","ApDung":"" };
                $scope.modaltitle = "Thêm quy định";
                //$scope.ZoneIDDisable = false;
                $scope.IsAction = 'add';
                showModel("insertmodal")
                console.log($scope.Info);

            };

            $scope.edit = function (index) {

                var info = $scope.allDanhMuc[index];

                $scope.Info = angular.copy(info);
                $scope.modaltitle = "Chỉnh sửa quy định";
                // $scope.CountryIDDisable = true;
                $scope.IsAction = 'edit';
                showModel("insertmodal")
            };


            // tim index theo ma tinh
            function getSelectedIndex(id) {
                for (var i = 0; i < $scope.allDanhMuc.length; i++)
                    if ($scope.allDanhMuc[i].NamHoc == id)
                        return i;
                return -1;
            };

            // action
            $scope.finishForm = function (isValid) {
                if (isValid) {
                    if ($scope.IsAction === 'add') {
                        $scope.sendCreate();
                    } else if ($scope.IsAction === 'edit') {
                        $scope.sendEdit();
                    } else if ($scope.IsAction === 'delete') {
                        $scope.sendDelete();
                    }

                } else {
                    showNotify('our form is missing');
                }
            }


            // them tinh
            $scope.sendCreate = function () {
                showLoader(true);
                uiUploader.startUpload({
                    url: '/QuyDinh/create',
                    paramName: 'fileTaiLieu',
                    data: { $scope.Info , ngay: $scope.Info.NgayBanHanh} ,
                    onProgress: function (file) {
                        $scope.$apply();
                    },
                    onCompleted: function (file, response) {

                        showLoader(false);
                        var result = angular.fromJson(response);

                        if (result.error === 0) {
                            // xoa file hien tai trong danh sach upload
                            uiUploader.removeAll();
                            $('#filetailieu').value = "";
                            $scope.$apply();

                            $scope.allDanhMuc.unshift(result.data);

                            hideModel("insertmodal");

                            showNotify("Đã thêm chức vụ");

                        } else {

                            alert(result.msg);

                        }

                        showLoader(false);

                    }
                });
            };

            // cap nhat tinh
            $scope.sendEdit = function () {
                showLoader(true);
                uiUploader.startUpload({
                    url: '/QuyDinh/edit',
                    paramName: 'fileTaiLieu',
                    data: { $scope.Info, ngay: $scope.Info.NgayBanHanh } ,
                    onProgress: function (file) {
                        $scope.$apply();
                    },
                    onCompleted: function (file, response) {

                        showLoader(false);
                        var result = angular.fromJson(response);

                        if (result.error === 0) {
                            // xoa file hien tai trong danh sach upload
                            uiUploader.removeAll();
                            $('#filetailieu').value = "";
                            $scope.$apply();

                            $scope.allDanhMuc.unshift(result.data);

                            hideModel("insertmodal");

                            showNotify("Đã thêm chức vụ");

                        } else {

                            alert(result.msg);

                        }

                        showLoader(false);

                    }
                });
            };

            // xoa du lieu
            $scope.sendDelete = function (index) {
                var info = $scope.allDanhMuc[index];

                var r = confirm("Bạn muốn xóa không ?");
                if (r == true) {
                    showLoader(true);

                    $http({
                        method: "POST",
                        url: "/QuyDinh/delete",
                        data: { id: info.ID }
                    }).then(
                        function success(response) {

                            var result = response.data;

                            if (result.error == 0) {

                                // var findIndex = getSelectedIndex(result.data.CountryID);

                                // if (findIndex !== -1) {
                                $scope.allDanhMuc.splice(index, 1);
                                //  }

                            } else {

                                alert(result.msg);

                            }

                            showLoader(false);

                        },
                        function errror(response) {
                            showLoader(false);
                            showNotify("connect has disconnect");
                        }
                        );
                } else {

                }


            }



            // upload
         //   $scope.files = [];
            var uploadFileTaiLieu = document.getElementById('filetailieu');
            uploadFileTaiLieu.addEventListener('change', function (e) {
                uiUploader.removeAll();
                var files = e.target.files;
                uiUploader.addFiles(files);
               // $scope.files = uiUploader.getFiles();
                $scope.$apply();
            });

        });
        //-- end controller

    </script>
}






