
@{
    ViewBag.Title = "Nhóm đánh giá";
}

<div class="row" ng-app="myApp" ng-controller="myCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách nhóm đánh giá&nbsp;&nbsp;&nbsp;<a href="#" ng-click="addNew()"><i my-tool-tip="Thêm mới" class="fa fa-plus"></i></a></h2>
                <div class="clearfix"></div>
            </div>
            <!-- end x_title-->
            <div class="x_content">
                <!-- table data-->
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>STT</th>
                                <th>Mã nhóm</th>
                                <th>Tên nhóm</th>
                                <th>Thành viên</th>
                                <th>Nhóm thư ký</th>
                                <th>#</th>
                                <th>#</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in allDanhMuc">
                                <td>{{$index + 1}}</td>
                                <td>{{item.MaNhom}}</td>
                                <td>{{item.TenNhom}}</td>
                                <td>
                                    <table border="0" ng-init="detail($index)">
                                        <tr ng-repeat="item1 in item.allDetail">
                                            <td><span ng-class="{'text-primary' : item1.TruongNhom == true, 'text-danger' : item1.TruongNhom == false}">  {{item1.TenThanhVien}}  </span></td>                                          
                                        </tr>
                                    </table>
                                </td>
                                <td><input type="checkbox" ng-model="item.ThuKy" ng-checked="item.ThuKy"></td>
                                <td><a href="#" ng-click="edit($index)">Chi tiết</a></td>
                                <td><a href="#" ng-click="sendDelete($index)">Xóa</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end table data-->
                <!--phan trang-->
                <ul items-per-page="itemPerPage" uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                <!-- end phan trang-->

            </div>
            <!-- end x_content-->
        </div>
        <!-- end x_pannel-->
    </div>


    <!-- tao model them moi-->
    <div id="insertmodal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modaltitle}}</h4>
                </div>


                <!-- begin form-->
                <form class="css-form" name="createForm" ng-submit="finishForm(createForm.$valid)">
                    <!-- body-->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="form-group">
                                    <label>Tên nhóm</label>
                                    <input type="text" class="form-control text-uppercase" ng-model="Info.TenNhom" required />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Thứ tự</label>
                                    <input type="number" class="form-control" ng-model="Info.STT" required />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Nhóm thư ký</label>
                                    <input type="checkbox" class="form-control" ng-model="Info.ThuKy" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Nhiệm vụ</label>
                                    <input type="text" class="form-control" ng-model="Info.NhiemVu" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end body-->
                    <!---lay danh sach thanh vien hien co-->
                    <!-- table data-->
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th>STT</th>
                                    <th>Mã</th>
                                    <th>Họ tên</th>
                                    <th>Chức vụ</th>
                                    <th>Nhiệm vụ</th>
                                    <th>Chọn</th>
                                    <th>Trưởng nhóm</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item2 in allThanhVienByNhom">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item2.MaThanhVien}}</td>
                                    <td>{{item2.ThanhVien}}</td>
                                    <td>{{item2.ChucVu}}</td>
                                    <td>{{item2.NhiemVu}}</td>
                                    <td><input type="checkbox" ng-model="item2.isCheck" ng-checked="item2.isCheck"></td>
                                    <td><input type="checkbox" ng-model="item2.TruongNhom" ng-checked="item2.TruongNhom" ng-disabled="!item2.isCheck" ng-change="setTruongNhom($index)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table data-->
                    <!-- begin footer-->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Hoàn thành</button>
                    </div>
                    <!-- end footer-->
                </form>
                <!-- end form-->

            </div>
            <!-- end modal content-->
        </div>
    </div>
    <!-- end modal them-->
</div>


<!-- end content-->
@section scripts {

    <script>

        // tao controller
        var app = angular.module('myApp', ['ui.bootstrap']);

        app.controller('myCtrl', function ($scope, $http) {

            //lay thong tin chung
            $scope.allthanhvien = angular.fromJson('@Html.Raw(Json.Encode(ViewBag.AllThanhVien))');

            $scope.allThanhVienByNhom = [];

            // phan trang
            $scope.numPages;
            $scope.itemPerPage;
            $scope.totalItems;
            $scope.currentPage = 1;
            $scope.maxSize = 5;
            $scope.pageChanged = function () {
                $scope.GetData($scope.currentPage);
            };

            // lay du lieu
            $scope.allDanhMuc = [];
            $scope.GetData = function (page, search) {
                showLoader(true);
                $http({
                    method: "GET",
                    url: "/NhomDanhGia/getNhomDanhGia?page=" + page + "&search=" + search
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.allDanhMuc = response.data.data;
                        $scope.itemPerPage = response.data.pageSize;
                        $scope.totalItems = response.data.toltalSize;
                        $scope.numPages = Math.round($scope.totalItems / $scope.itemPerPage);
                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
            }

            // goi lay du liẹu

            $scope.GetData(1, "");
            //
            // khoi tao bien dung cho create va edit
            $scope.Info = {};
            $scope.InfoCT = {};
            $scope.IsAction = '';

            $scope.addNew = function () {

                $scope.Info = { STT : 0};
                $scope.modaltitle = "Thêm nhóm đánh giá";


                $scope.allThanhVienByNhom = angular.copy($scope.allthanhvien);

                $scope.IsAction = 'add';
                showModel("insertmodal")

            };
            //lay chi tiet thanh vien trong nhom
          //  $scope.alldetail = [];
            $scope.detail = function (index) {
                $scope.alldetail = [];
                var info = $scope.allDanhMuc[index];
                $scope.Info = angular.copy(info);
                showLoader(false);
                $http({
                    method: "GET",
                    url: "/NhomDanhGia/GetThanhVien?manhom=" + $scope.Info.MaNhom
                }).then(function mySuccess(response) {
                    showLoader(false);

                    $scope.allDanhMuc[index].allDetail = response.data;

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });

            };
            //ket thuc lay thanh vien trong nhom

            $scope.edit = function (index) {
                $scope.allThanhVienByNhom = [];
                var info = $scope.allDanhMuc[index];
                $scope.Info = angular.copy(info);
                var maNhom = $scope.Info.MaNhom;

                $http.get('/nhomdanhgia/CheckNhom?MaNhom=' + maNhom).then(function (response) {
                    var result = response.data;
                    for (var i = 0; i < $scope.allthanhvien.length; i++) {

                        var thanhVienInfo = $scope.allthanhvien[i];
                        thanhVienInfo.isCheck = false;
                        thanhVienInfo.TruongNhom = false;
                        for (var j = 0; j < result.length; j++) {

                            if (result[j].MaThanhVien === thanhVienInfo.MaThanhVien) {
                                thanhVienInfo.isCheck = true;

                                if (result[j].TruongNhom) {
                                    thanhVienInfo.TruongNhom = true;
                                }
                            }
                        }

                        $scope.allThanhVienByNhom.push(thanhVienInfo);
                    }

                    $scope.modaltitle = "Chỉnh sửa nhóm đánh giá";
                    // $scope.CountryIDDisable = true;
                    $scope.IsAction = 'edit';
                    showModel("insertmodal")
                });
            };

            $scope.setTruongNhom = function (index) {
                var thanhVien = $scope.allThanhVienByNhom[index];

                if (thanhVien.isCheck) {
                    if (thanhVien.TruongNhom) {
                        // them truong nhom
                        var previousTruongNhom = findPreviousTruongNhom(thanhVien.MaThanhVien);

                        if (previousTruongNhom != -1) {
                            $scope.allThanhVienByNhom[previousTruongNhom].TruongNhom = false;
                        }

                    }
                } else {
                    alert('Thành viên này chưa thuộc nhóm');
                }

            };

            function findThanhVienIndex(MaThanhVien) {
                var maNhom = $scope.Info.MaNhom;
                for (var i = 0; i < $scope.allthanhvien; i++) {
                    if ($scope.allthanhvien[i].MaNhom === maNhom && $scope.allthanhvien[i].MaThanhVien === MaThanhVien) {
                        return i;
                    }
                }

                return -1;
            }


            // tim index theo ma tinh
            function findPreviousTruongNhom(MaThanhVien) {
                var maNhom = $scope.Info.MaNhom;

                for (var i = 0; i < $scope.allThanhVienByNhom.length; i++) {
                    if ($scope.allThanhVienByNhom[i].TruongNhom && $scope.allThanhVienByNhom[i].MaThanhVien !== MaThanhVien) {
                        return i;
                    }
                }

                return -1;
            }



            // action
            $scope.finishForm = function (isValid) {
                if (isValid) {
                    if ($scope.IsAction === 'add') {
                        $scope.sendCreate();
                    } else if ($scope.IsAction === 'edit') {
                        $scope.sendEdit();
                    } else if ($scope.IsAction === 'delete') {
                        $scope.sendDelete();
                    }

                } else {
                    showNotify('our form is missing');
                }
            }


            // them tinh
            $scope.sendCreate = function () {

                var truongNhom = '';
                var listNhom = [];

                for (var i = 0; i < $scope.allThanhVienByNhom.length; i++) {
                    if ($scope.allThanhVienByNhom[i].isCheck) {
                        listNhom.push($scope.allThanhVienByNhom[i].MaThanhVien);

                        if ($scope.allThanhVienByNhom[i].TruongNhom) {
                            truongNhom = $scope.allThanhVienByNhom[i].MaThanhVien;
                        }

                    }
                }

                showLoader(true);
                $http({
                    method: "POST",
                    url: "/NhomDanhGia/create",
                    data: { nhomdanhgia: $scope.Info, chitiet: listNhom, truongnhom: truongNhom }
                }).then(function success(response) {

                    var result = response.data;
                    console.log(result);
                    if (result.error === 0) {
                        $scope.allDanhMuc.unshift(result.data);

                        hideModel("insertmodal");

                        showNotify("Đã thêm nhóm đánh giá");
                      
                    } else {

                        alert(result.msg);

                    }

                    showLoader(false);

                }
                    , function error(response) {
                        showNotify("connect has disconnect");
                        showLoader(false);
                    });

            };

            // cap nhat tinh
            $scope.sendEdit = function () {
                var truongNhom = '';
                var listNhom = [];

                for (var i = 0; i < $scope.allThanhVienByNhom.length; i++) {
                    if ($scope.allThanhVienByNhom[i].isCheck) {
                        listNhom.push($scope.allThanhVienByNhom[i].MaThanhVien);

                        if ($scope.allThanhVienByNhom[i].TruongNhom) {
                            truongNhom = $scope.allThanhVienByNhom[i].MaThanhVien;
                        }

                    }
                }
                showLoader(true);

                $http({
                    method: "POST",
                    url: "/nhomdanhgia/edit",
                    data: { nhomdanhgia: $scope.Info, chitiet: listNhom, truongnhom: truongNhom}
                }).then(
                    function success(response) {
                        $scope.GetData(1, "");
                        var result = response.data;

                        if (result.error == 0) {

                           // var findIndex = getSelectedIndex(result.data.NamHoc);

                           // if (findIndex !== -1) {
                            //    $scope.allDanhMuc[findIndex] = angular.copy(result.data);
                          //  }


                            $scope.allDanhMuc.unshift(result.data);

                            hideModel("insertmodal");

                            showNotify("Đã cập nhật");

                        } else {

                            alert(result.msg);

                        }

                        showLoader(false);

                    },
                    function errror(response) {
                        showLoader(false);
                        showNotify("connect has disconnect");
                    }
                    );
            };

            // xoa du lieu
            $scope.sendDelete = function (index) {
                var info = $scope.allDanhMuc[index];

                var r = confirm("Bạn muốn xóa không ?");
                if (r == true) {
                    showLoader(true);

                    $http({
                        method: "POST",
                        url: "/NhomDanhGia/delete",
                        data: { manhom: info.MaNhom }
                    }).then(
                        function success(response) {

                            var result = response.data;

                            if (result.error == 0) {

                                // var findIndex = getSelectedIndex(result.data.CountryID);

                                // if (findIndex !== -1) {
                                $scope.allDanhMuc.splice(index, 1);
                                //  }

                            } else {

                                alert(result.msg);

                            }

                            showLoader(false);

                        },
                        function errror(response) {
                            showLoader(false);
                            showNotify("connect has disconnect");
                        }
                        );
                } else {

                }


            }

        });
        //-- end controller

    </script>
}

